@font-face {
	font-family: "Avenir";
	src: url('../fonts/Avenir_Roman.otf');
}

@font-face {
	font-family: "Avenir Bold";
	src: url('../fonts/Avenir_Black.otf');
}

@font-face {
	font-family: "Karla";
	src: url('../fonts/Karla_Regular.ttf');
}

@font-face {
	font-family: "Karla Bold";
	src: url('../fonts/Karla_Bold.ttf');
}