@import 'fonts';

$smallFont: 14px;
$black: #1A1A1A;
$grey: #BEBEBE;

.grey {
	color: $grey;
}

body {
	font-family: "Avenir";
	background: #FFF;

	a {
		text-decoration: none;
		color: inherit;
	}

}

#main_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background: $black;
	color: #FFF;
	box-shadow: 0px 0px 15px $black;

	$headingHeight: 90px;
	.main_heading {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		text-align: center;

		h1 {
			margin: 0;
			font-size: $headingHeight;
			line-height: $headingHeight;
		}

		p {
			font-size: 25px;
		}
	}

	.main_left_corner, .main_right_corner {
		position: absolute;
		bottom: 50px;
		left: 50px;
		font-family: "Karla";
		visibility: visible;

		p {
			margin: 0;
			line-height: 1em;
		}

		.subtitle, .sub_content {
			font-size: $smallFont;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 0.13em;
		}

		.subtitle {
			width: 100px;
			float: left;
			color: #555;
		}

		.sub_content {
			float: left;
			margin-left: 25px;
		}
	}

	.main_right_corner {
		left: auto;
		right: 50px;

		.subtitle {
			width: 50px;
			text-align: right;
		}

		.sub_content {
			margin-left: 0;
			margin-right: 25px;
		}
	}
}

#content_wrapper {
	position: absolute;
	top: auto;
	left: 0;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;

	aside {
		position: relative;
		top: 0;
		padding: 50px;
		width: auto;
		height: 100%;
		/*box-shadow: 0px 5px 20px #D6D6D6;*/
		border-right: 3px solid #EEE;

		h2 {
			font-size: $smallFont;
			text-transform: uppercase;
			font-family: "Karla Bold";
			font-weight: bold;
		}

		ul {
			width: 213px;
			margin: 0;
			padding: 0;
			list-style: none;
			font-family: "Avenir Bold";

			li {
				margin-top: 50px;
				font-size: 18px;
				color: $grey;
				cursor: pointer;

				&.active {
					position: relative;
					font-size: 30px;
					color: $black;

					&:after {
						position:	absolute;
						top: 35px;
						left: 0;
						content: attr(data-menuSubtitle);
						font-size: 16px;
						font-family: "Avenir";
					}
				}
			}
		}
	}

	main {
		width: 100%;

		$contentWidth: 60%;
		.content_slide {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.large_desc {
				font-size: 30px;
				max-width: $contentWidth;
				line-height: 1.37em;
				color: $grey;

				.first_words {
					font-family: "Avenir Bold";
					color: $black;
				}
			}

			.exp_wrapper {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;

				.exp_row {
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: row;

					.exp_cell {
						width: 100%;
						height: 100%;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;

						.large_desc {
							width: auto;
							max-width: none;
							line-height: 1em;

							.grey {
								font-size: 25px;
							}
						}
					}
				}

				/*.employer_list {
					width: 100%;
					margin: 0;
					padding: 0;
					list-style: none;

					li {
						display: flex;
						flex-direction: row;
						padding: 10px;
						box-shadow: 0px 0px 5px $grey;
						border-radius: 2px;
						margin-top: 10px;

						img {
							max-height: 90px;
						}

						.employer_info {
							width: 100%;

							p {
								margin: 0 10px;
							}

							.employer_name {
								font-family: "Avenir Bold";
								font-size: 17px;
							}

							.employer_desc {
								margin: 10px;
								color: $black;
								font-size: $smallFont;
							}
						}
					}
				}*/

			}
		}
	}
}