@import 'fonts';

$smallFont: 14px;
$black: #1A1A1A;
$grey: #BEBEBE;

.grey {
	color: $grey;
}

body {
	font-family: "Avenir";
	background: #FFF;

	a {
		text-decoration: none;
		color: inherit;
	}

	-webkit-touch-callout: none;
  -webkit-user-select: none;
 	-khtml-user-select: none;
 	-moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

#main_wrapper {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background: $black;
	color: #FFF;
	/*box-shadow: 0px 0px 15px $black;*/

	$headingHeight: 90px;
	.main_heading {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		text-align: center;

		h1 {
			margin: 0;
			font-size: $headingHeight;
			line-height: $headingHeight;
		}

		p {
			font-size: 25px;
		}
	}

	.main_left_corner, .main_right_corner {
		position: absolute;
		bottom: 50px;
		left: 50px;
		font-family: "Karla";
		visibility: visible;

		p {
			margin: 0;
			line-height: 1em;
		}

		.subtitle, .sub_content {
			font-size: $smallFont;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 0.13em;
		}

		.subtitle {
			width: 100px;
			float: left;
			color: #555;
		}

		.sub_content {
			float: left;
			margin-left: 25px;
		}
	}

	.main_right_corner {
		left: auto;
		right: 50px;

		.subtitle {
			width: 50px;
			text-align: right;
		}

		.sub_content {
			margin-left: 0;
			margin-right: 25px;
		}
	}
}

#content_wrapper {
	position: relative;
	top: auto;
	left: 0;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;

	$asideWidth: 220px;
	$asidePadding: 50px;
	aside {
		position: absolute;
		top: 0;
		padding: $asidePadding;
		width: $asideWidth;
		height: 100%;
		/*box-shadow: 0px 20px 20px #D6D6D6;*/
		border-right: 1px solid #BEBEBE;

		&.fix-aside {
			position: fixed;
		}

		h2 {
			font-size: $smallFont;
			text-transform: uppercase;
			font-family: "Karla Bold";
			font-weight: bold;
		}

		ul {
			width: 213px;
			margin: 0;
			padding: 0;
			list-style: none;
			font-family: "Avenir Bold";

			li {
				margin-top: 50px;
				font-size: 18px;
				color: $grey;
				cursor: pointer;
				-webkit-transition: font-size 0.2s, color 0.2s;

				&.active {
					position: relative;
					font-size: 30px;
					color: $black;

					&:after {
						position:	absolute;
						top: 35px;
						left: 0;
						content: attr(data-menuSubtitle);
						font-size: 16px;
						font-family: "Avenir";
					}
				}
			}
		}
	}

	main {
		width: calc(100% - $asideWidth - 2 * $asidePadding);
		margin-left: $asideWidth + 2 * $asidePadding;

		$contentWidth: 70%;
		.content_slide {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.large_desc {
				font-size: 30px;
				max-width: $contentWidth;
				line-height: 1.37em;
				color: $grey;

				.first_words {
					font-family: "Avenir Bold";
					color: $black;
				}
			}

			@-webkit-keyframes blink {
				0% {
					background-color: rgba(173, 34, 48, 1);
				}

				50% {
					background-color: rgb(216, 41, 58);
				}

				100% {
					background-color: rgba(173, 34, 48, 1);
				}
			}

			.exp_wrapper, .projects_wrapper {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;

				.exp_row, .projects_row {
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: row;

					.exp_cell, .projects_cell {
						width: 100%;
						height: auto;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						text-align: center;
						cursor: pointer;

						&.show_desc {
							h3:first-child, .employer_location {
								display: none;
							}
							.employer_desc {
								display: block;
							}
						}

						h3 {
							margin: 0;

							&.employer_desc {
								max-width: 80%;
								display: none;
							}
						}

						p.employer_location {
							color: $black;
							margin-top: 20px;
							font-family: "Karla Bold";
							font-size: $smallFont;
							text-transform: uppercase;
							letter-spacing: 0.12em;
						}

						$employer_opacity: 0.95;

						&#onlygrowth {
							background-color: rgba(35, 173, 75, $employer_opacity);
						}

						&#mozzaz {
							background-color: rgba(43, 167, 223, $employer_opacity);
						}

						&#klick {
							background-color: rgba(73, 83, 123, $employer_opacity);
						}

						&#whats_next {
							background-color: rgba(173, 34, 48, $employer_opacity);
							-webkit-animation-name: blink;
							-webkit-animation-duration: 1s;
							-webkit-animation-iteration-count: infinite;
						}

						.large_desc {
							width: auto;
							max-width: none;
							line-height: 1em;

							.white {
								color: white;
								font-size: 25px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 950px) {
	#content_wrapper aside {
		display: none;
	}

	#content_wrapper main {
		width: 100%;
		margin: 0;
	}
}

@media screen and (max-width: 700px) {
	.main_heading h1 {
		font-size: 75px!important;
	}

	.subtitle {
		display: none;
	}

	.main_right_corner {
		display: none;
	}
	.main_left_corner {
		width: 400px;
		bottom: 25px!important;
		left: 25px!important;

	}
}

@media screen and (max-width: 550px) {
	.large_desc {
		font-size: 25px!important;
	}
}

@media screen and (max-width: 530px) {
	.exp_row {
		flex-direction: column!important;

		.exp_cell {
			height: 50%!important;
		}
	}
}

@media screen and (max-width: 500px) {
	.main_left_corner {
		width: calc(100% - 50px);
	}
}
