/*
	CSS DOCUMENT
	------------
	First Created: February 2, 2015
	Author: Sahibjot Saggu
 */

* {
	margin: 0px;
	padding: 0px;
}

body {
	overflow-x: hidden;
	background: #F598C4;
}

h1 {
	font-family: Raleway;
	font-weight: 200;
	font-size: 70px;
}

p {
	font-family: Raleway;
	font-size: 20px;
	font-weight: 300;
}

.loader_wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #222;
	z-index: 1000;
}

.bg_wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.bg_wrapper #phone_name, .bg_wrapper #phone_who_i_am {
	display: none;
}

.bg_wrapper #phone_name {
	position: absolute;
	top: 20%;
	left: 0px;
	width: 100%;
	height: 100px;
	text-align: center;
	line-height: 100px;
	color: #FFF;
	font-family: Raleway;
	text-transform: uppercase;
	font-weight: 200;
	font-size: 60px;
}

.bg_wrapper #phone_who_i_am {
	position: absolute;
	bottom: 20%;
	left: 10%;
	width: 80%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #FFF;
	font-family: Raleway;
	font-weight: 200;
	font-size: 25px;
}

.bg_wrapper ul {
	position: absolute;
	left: -10%;
	width: 100%;
	height: 100%;
	list-style-type: none;
}

.bg_wrapper ul #foreground_pic {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 120%;
	height: 120%;
	background: url("images/mountain_foreground.png") no-repeat center bottom;
	background-size: 100%;
}

.bg_wrapper ul #name {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 110%;
	height: 100%;
	font-family: Raleway;
	text-transform: uppercase;
	font-size: 85px;
	text-align: center;
	line-height: 160px;
	color: #FFF;
	font-weight: 200;
}

.bg_wrapper ul #name #name_actual_text {
	position: absolute;
	/*top: 25%;*/
	top: calc(25%);
	left: calc(55% - 400px);
	width: 800px;
	height: 150px;
	line-height: 150px;
	text-align: center;
}

.bg_wrapper ul #quote_layer, .bg_wrapper ul #who_i_am {
	position: absolute;
	top: 0px;
	left: 0%;
	width: 110%;
	height: 100%;
}

#whoiam_text {
	position: absolute;
	top: calc(25% + 200px);
	left: calc(55% - 400px);
	width: 800px;
	height: 50px;
	font-family: Raleway;
	font-size: 40px;
	line-height: 50px;
	color: #FFF;
	text-align: center;
	font-weight: 200;
}

.down_arrow {
	position: absolute;
	bottom: 20px;
	left: calc(50% - 35px);
	width: 70px;
	height: 70px;
	background: url("images/arrow.png") no-repeat;
	background-size: cover;
	cursor: pointer;
	-webkit-transition: bottom 0.1s;
	-moz-transition: bottom 0.1s;
	-transition: bottom 0.1s;
}

.down_arrow:hover {
	bottom: 10px;
}

.tile2_wrapper {
	position: absolute;
	top: 100%;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #FFF;
}

.tile2_wrapper .tile2_content {
	position: absolute;
	width: 100%;
	height: 100%;
}

.tile2_wrapper #greeting {
	padding: 30px 0px 30px 0px;
	width: 100%;
	text-align: center;
}

.tile2_wrapper #about_me {
	margin-left: calc(50% - 300px);
	width: 600px;
	font-size: 23px;
	line-height: 43px;
	font-family: Raleway;
}

.tile2_wrapper #projects_txt {
	padding: 30px 0px 30px 0px;
	width: 100%;
	text-align: center;
}

@media screen and (max-width: 768px) {

	h1 {
		font-size: 40px;
	}

	.bg_wrapper ul, .down_arrow {
		display: none;
	}

	.bg_wrapper #phone_name, .bg_wrapper #phone_who_i_am {
		display: block;
	}

	.bg_wrapper {
		background: url("images/mountain_foreground.jpg") no-repeat center bottom;
		background-size: cover;
	}

	.tile2_wrapper .tile2_content {
		position: relative;
	}

	.tile2_wrapper #about_me {
		margin-left: 5%;
		width: 90%;
		font-size: 20px;
		line-height: 30px;
	}

	.tile2_wrapper #greeting {
		width: 100%;
		text-align: center;
	}

	.tile2_wrapper #projects_txt {
		width: 100%;
		text-align: center;
	}
}