/*
	CSS DOCUMENT
	------------
	First Created: February 2, 2015
	Author: Sahibjot Saggu
 */

* {
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: Roboto_Bold;
	src: url("fonts/Roboto-Bold.ttf");
}

@font-face {
	font-family: Open_Sans_Condensed;
	src: url("fonts/open-sans-condensed/OpenSans-CondBold.ttf");
}

body {
	background: url("images/pic4.jpg") no-repeat center center fixed;
	background-size: cover;
}

.name {
	position: absolute;
	top: 25%;
	left: calc(50% - 400px);
	width: 800px;
	height: 150px;
	font-family: Raleway;
	text-transform: uppercase;
	font-size: 90px;
	text-align: center;
	line-height: 160px;
	color: #FFF;
	font-weight: 200;
}
