@font-face {
  font-family: 'AvenirNext';
  src: url(https://sahibjot.ca/fonts/Avenir_Demi.otf);
}

@font-face {
  font-family: 'AvenirNextRegular';
  src: url(https://sahibjot.ca/fonts/Avenir_Roman.otf);
}

@font-face {
  font-family: 'AvenirNextBold';
  src: url(https://sahibjot.ca/fonts/Avenir_Black.otf);
}
