<!--<div class="mymodal-shadow mymodal-shadow-on"></div>
<div class="mymodal mymodal-on" ng-controller="TaskModalCtrl">
    <!-- modal header -->
    <!--<nav class="navbar navbar-modal">
        <div class="navbar-header">
            <p class="navbar-brand-modal">{{modal_data.task_title}}</p>
            <div class="close-modal"></div>
        </div>
    </nav>

    <!-- modal content -->
    <!--<div class="mymodal-content">
        <div class="row modal-row">
            <div class="col-md-6 col-sm-6 task-desc">
                <h5 class="gray" style="padding-bottom: 10px; padding-left: 0px; font-size: 18px; padding-top: 0px">Description</h5>
                <div ng-bind-html="modal_data.task_desc"></div>
            </div>
            <div class="col-md-6 col-sm-6 task-comments" ng-controller="CommentCtrl">
                <div class="modal-comments" ng-show="modal_data.has_comments">
                    <h5 class="gray" style="padding-bottom: 10px; padding-left: 5px; font-size: 18px; padding-top: 5px">All Comments</h5>
                    <ul class="comments_list">
                        <li ng-repeat="comment in modal_data.comment_info.Entries">
                            <div class="comment-pic" style="{{comment.UserPhotoPath}}"></div>
                            <div class="comment-info">
                                <div class="comment-creator">{{comment.UserName}}</div>
                                <div class="comment-time gray">{{comment.Created}}</div>
                                <div class="comment-txt" ng-bind-html="comment.Comment"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-addComment">
        <div class="comment-text">
            <textarea class="user-add-comment-tarea" placeholder="Type a comment..."></textarea>
        </div>
        <div class="comment-send-button" ng-click="addComment(modal_data.task_id)"></div>
    </div>
</div>-->

<nav class="navbar navbar-default navbar-main modal-bar" style="top: 64px;">
    <div class="modal-header" ng-controller="HeaderCtrl">
          {{modal_data.task_title}}
    </div>
    <div class="modal-body">
		<div class="modal-desc" ng-bind-html="modal_data.task_desc"></div>
    </div>
    <div class="modal-comments" ng-show="modal_data.has_comments">
        <h5 class="gray" style="padding-bottom: 10px; padding-left: 5px; font-size: 18px; padding-top: 5px">All Comments</h5>
        <ul class="comments_list">
            <li ng-repeat="comment in modal_data.comment_info.Entries">
                <div class="comment-pic" style="{{comment.UserPhotoPath}}"></div>
                <div class="comment-info">
                    <div class="comment-creator">{{comment.UserName}}</div>
                    <div class="comment-time gray">{{comment.Created}}</div>
                    <div class="comment-txt" ng-bind-html="comment.Comment"></div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="main-fab">
	<div class="plus">+</div>
	<div class="pencil"></div>
	<span>Add Comment</span>
</div>

<script>
	$.getScript("js/jquery_main.js");	
</script>