@font-face {
  font-family: 'Fira Code Light';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Code Light'), local('Fira Code Light'), url('assets/fonts/FiraCode-Light.woff2') format('woff2');
}


body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  background: transparent;
}