body {
    font-family: "Roboto";
}

p {
    color: #000;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

p.bold {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0px;
    padding-left: 15px;
    padding-top: 20px;
}

.page-shadow {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100%);
    height: 100%;
    background-color: rgba(0,0,0,0);
    z-index: -5;
    display: none;
    -webkit-transition: background-color 0.3s, left 0.3s, width 0.3s;
}

.navbar-main {
    /*padding-top: 7px;
    padding-bottom: 7px;*/
    background: #3F51B5;
    border: none;
    box-shadow: 0px 0px 5px #000;
}

.navbar-brand {
    position: absolute;
    top: 8px;
    left: 70px;
    font-size: 18px;
    line-height: 20px;
    color: #FFF!important;
    text-rendering: optimizeLegibility;
}

.hamburger-icon, .genome-icon {
    position: relative;
    margin: 0;
    padding: 0;
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    cursor: pointer;
    background: url("../images/hamburger.png") no-repeat center center;
    background-size: 40%;
}

.genome-icon {
    background: url("../images/genome.png") no-repeat center center;
    background-size: 50%;
}

.input-group {
    position: absolute;
    top: 8px;
    left: 70px;
    width: 70%;
    margin-top: 8px;
    background: transparent;
    display: none;
}

.input-group-addon {
    border: none;
    background: #FFF;
    border-radius: 1px;
    z-index: 2000;
}

#search-box {
    width: 100%;
    border: none;
    background: #3F51B5;
    border-radius: 1px 0px 0px 1px;
    box-shadow: none;
    font-family: Roboto!important;
    color: #FFF!important;
    font-size: 18px;
    font-weight: 400;
}

#search-box:focus {
    color: #000;
}

.glyphicon-search {
    color: #CCC;
}

#navbar-hamburger {
    border: none;
}

#navbar-hamburger:hover {
    background: transparent;
}

#navbar-hamburger:focus {
    background: transparent;
}

#search-icon {
    color: #FFF;
}

.search-icon-right, .close-icon-right{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 67px;
    cursor: pointer;
}

.white {
    color: #FFF;
}

.close-icon-right {
    display: none;
}

/* Sidebar */
.sidebar {
    position: absolute;
    top: 0px;
    left: -300px;
    width: 300px;
    height: 100%;
    background: #FFF;
    z-index: 1500;
    -webkit-transition: left 0.3s;
}

.sidebar-header {
    position: absolute;
}

.sidebar-banner {
    width: 100%;
    height: 150px;
    background: #EEE url("../images/sidebar-banner.png") no-repeat center center;
    background-size: cover;
    margin-top: 0px;
}

.sidebar-profile {
    position: absolute;
    top: 14px;
    left: 20px;
    width: 68px;
    height: 68px;
    border-radius: 100%;
    background: url("../images/profile-pic.jpg") no-repeat center center;
    background-size: cover;
}

.sidebar-banner .sidebar-user-info {
    position: absolute;
    top: 91px;
    left: 20px;
}

.sidebar-user-info p {
    padding: 0;
    margin: 0;
}

/* Cards */

.mat-card {
    width: 100%;
    height: auto;
    border-radius: 3px;
    box-shadow: -1px 2px 6px #a5a5a5;
    margin-top: 12px;
    padding-bottom: 50px;
    background: #FFF;
}

.mat-image {
    width: 100%;
    height: 300px;
    background: #4841b7;
    background-size: cover;
    border-radius: 3px 3px 0px 0px;
}

.mat-image img {
    width: 100%;
    height: 100%;
    border-radius: 3px 3px 0px 0px;
}

.fab {
    position: absolute;
    top: 290px;
    right: 30px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: #EE4E25;
    text-align: center;
    line-height: 45px;
    color: #FFF;
    font-size: 20px;
    box-shadow: 0px 5px 10px #969696;
    cursor: pointer;
}

.fab:before {
    content: "+";
}

.flat-button {
    float: left;
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    color: #4841b7;
    text-transform: uppercase;
    margin-left: 15px;
    cursor: pointer;
}

.flat-button .underline {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0;
    height: 2px;
    background: #3F51B5;
    -webkit-transition: width 0.1s;
    -moz-transition: width 0.1s;
    -o-transition: width 0.1s;
    transition: width 0.1s;
}

.flat-button:hover .underline {
    width: 100%;
}

/* media queries */

@media (max-width: 768px) {
    .navbar-brand span {
        display: none;
    }

    .navbar-brand:after {
        content: "Genome Manager";
    }

    .hamburger-icon {
        display: block;
    }


}
