body {
    font-family: "Roboto";
    font-size: 13px!important;
    overflow-y: auto;
    background: #EEE;
}

p {
    color: #000;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

p.bold {
    font-weight: bold;
}

h1 {
    font-size: 40px;
    color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300!important;
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 2px;
}

.prompt {
    margin-top: 100px;
}

.g-signin2 {
    position: absolute;
    top: 300px;
    left: calc(50% - 60px);
    background: red;
}